@using BlazorStore.Data
@using BlazorStore.Models
@inject ApplicationDbContext _context
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http;
@using System.Threading;
@using BlazorStore.Services; 
@inject IHttpContextAccessor _httpContextAccessor
@inject SignInManager<CustomUser> _signInManager
@inject UserManager<CustomUser> _userManager
@inject IImageService _imageService 
<!-- Header -->
<header class="header shop">

    <!-- Topbar -->
    <div class="topbar">
        <div class="container mt-0">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-12">
                    <!-- Top Left -->
                    <div class="top-left">
                        <ul class="list-main">
                            <li><i class="ti-headphone-alt"></i> +1 (402) 304-0329</li>
                            <li><i class="ti-email"></i> arthastheking113@gmail.com</li>

                        </ul>
                    </div>
                    <!--/ End Top Left -->
                </div>
                <div class="col-lg-7 col-md-12 col-12">
                    <!-- Top Right -->
                    <div class="right-content">
                        <ul class="list-main">
                            <li><a href="https://github.com/arthastheking113/BlazorStore" target="_blank"><i class="ti-github"></i> Github Repository</a></li>
                            <li><i class="ti-location-pin"></i> Washington DC, Maryland</li>
                            <LoginDisplay />
                        </ul>
                    </div>
                    <!-- End Top Right -->
                </div>
            </div>
        </div>
    </div>


    <div class="middle-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-12">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="/"><img src="images/logo.png" style="width:90px;height:81px" alt="logo"></a>
                    </div>
                    <!--/ End Logo -->
                    <!-- Search Form -->
                    <div class="search-top @searchActive">
                        <div class="top-search"><a @onclick="(() => OpenSearch())"><i class="ti-search"></i></a></div>
                        <!-- Search Form -->
                        <div class="search-top @searchActive">
                            <form class="search-form">
                                <input type="text" placeholder="Search here..." name="search">
                                <button value="search" type="submit"><i class="ti-search"></i></button>
                            </form>
                        </div>
                        <!--/ End Search Form -->
                    </div>
                    <!--/ End Search Form -->
                    <div class="mobile-nav"></div>
                </div>
                <div class="col-lg-8 col-md-7 col-12">
                    <div class="search-bar-top">
                        <div class="search-bar">
                            <form>
                                <input name="search" placeholder="Search Products Here....." type="search">
                                <button class="btnn"><i class="ti-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-12">
                    <div class="right-bar">
                        <!-- Search Form -->
                        <div class="sinlge-bar">
                            <a href="/wishlist" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                        @if (_httpContextAccessor.HttpContext.User.IsInRole("NormalUser"))
                        {
                            <div class="sinlge-bar">
                                <a target="_parent" href="/Identity/Account/Manage" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
                            </div>
                        }


                        <div class="sinlge-bar shopping">
                            <a href="#" class="single-icon">
                                <i class="ti-bag"></i>
                                <span class="total-count">
                                    @if (CartItem is not null)
                                    {
                                        totalItem = 0;
                                        foreach (var item in CartItem)
                                        {
                                            totalItem += item.Quantity;
                                        }
                                        @totalItem
                                    }
                                </span>
                            </a>
                            <!-- Shopping Item -->
                            <div class="shopping-item">
                                <div class="dropdown-cart-header">
                                    @if (CartItem is not null)
                                    {
                                        <span>@totalItem Items</span>
                                    }

                                    <a href="/cart">View Cart</a>
                                </div>
                                <ul class="shopping-list">
                                    @if (CartItem is not null)
                                    {
                                        float Item_total_price = 0;
                                        foreach (var item in CartItem)
                                        {
                                            Item_total_price += float.Parse(item.Price) * (float)item.Quantity;
                                            var itemid = item.Id;
                                            <li>
                                                <a style="cursor: pointer;" @onclick="(() => RemoveFromCart(itemid))" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
                                                <a class="cart-img" target="_parent" href="/product/@item.Slug"><img src="@_imageService.DecodeFile(item.ImageData, item.ContentType)" style="width:70px;height:70px;" alt="#"></a>
                                                <h4><a target="_parent" href="/product/@item.Slug">@item.Name</a></h4>
                                                <p class="quantity">@(item.Quantity)x - <span class="amount">$@((Convert.ToDecimal(item.Price) * Convert.ToDecimal(item.Quantity)).ToString("0.##"))</span></p>
                                            </li>
                                        }

                                        total = Item_total_price;
                                    }


                                </ul>
                                <div class="bottom">
                                    <div class="total">
                                        <span>Total</span>
                                        <span class="total-amount">$@total</span>
                                    </div>
                                    <a href="/cart" class="btn animate">Checkout</a>
                                </div>
                            </div>
                            <!--/ End Shopping Item -->
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Inner -->
    <div class="header-inner">
        <div class="container">
            <div class="cat-nav-head">
                <div class="row">
                    <div class="col-lg-3">
                       
                    </div>
                    <div class="col-lg-9 col-12">
                        <div class="menu-area">
                            <!-- Main Menu -->
                            <nav class="navbar navbar-expand-lg">
                                <div class="navbar-collapse">
                                    <div class="nav-inner">
                                        <ul class="nav main-menu menu navbar-nav">
                                            <li class="active"><a href="/">Home</a></li>
                                            <li></li>
                                            <li>
                                                <a style="cursor:pointer;"><i class="fa fa-bars" aria-hidden="true"></i> Category</a>
                                                <ul class="dropdown">
                                                    @if (ListCategory is not null)
                                                    {
                                                        foreach (var item in ListCategory)
                                                        {
                                                            <li><a target="_parent" href="/category/@item.Slug">@item.Name</a></li>
                                                        }
                                                    }
                                                    <li><a target="_parent" href="/all">All Item</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/TrackOrders">Track Order</a></li>
                                            <li>
                                                <a style="cursor:pointer;">Shop<i class="ti-angle-down"></i></a>
                                                <ul class="dropdown">
                                                    <li><a href="/cart">Cart</a></li>
                                                    <li><a href="/checkout">Checkout</a></li>
                                                    <li><a href="/wishlist">Wishlist</a></li>
                                                    <li><a href="/about">About Us</a></li>
                                                    <li><a href="/blog">Our Blog</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/contact">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                            <!--/ End Main Menu -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Header Inner -->
</header>
<!--/ End Header -->
<!-- End Topbar -->
@code {
    [Parameter]
    public List<Models.Cart> CartItem { get; set; }
    public List<Models.Category> ListCategory;
    public float total;
    public int totalItem;
    public string searchActive;
    protected override void OnInitialized()
    {
        GetCart();
        ListCategory = _context.Category.ToList();
    }

    public void GetCart()
    {
        CartItem = _context.Cart.Where(i => i.CustomUserId == _userManager.GetUserId(_httpContextAccessor.HttpContext.User) && !i.IsSold).ToList();
    }

    public async Task RemoveFromCart(int id)
    {
        var item = await _context.Cart.FindAsync(id);
        _context.Cart.Remove(item);
        await _context.SaveChangesAsync();
        GetCart();
        //StateHasChanged();

    }

    public void OpenSearch()
    {
        if (searchActive is null)
        {
            searchActive = "active";
        }
        else
        {
            searchActive = null;
        }
    }
}
